@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}


:root  {
  --background: 220 100% 95%;
  --foreground: 220 5% 10%;
  --card: 220 50% 90%;
  --card-foreground: 220 5% 15%;
  --popover: 220 100% 95%;
  --popover-foreground: 220 100% 10%;
  --primary: 220 8.9% 46.1%;
  --primary-foreground: 0 0% 100%;
  --secondary: 220 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 182 30% 85%;
  --muted-foreground: 220 5% 35%;
  --accent: 182 30% 80%;
  --accent-foreground: 220 5% 15%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 220 5% 90%;
  --border: 220 30% 50%;
  --input: 220 30% 26%;
  --ring: 220 8.9% 46.1%;
  --radius: 0.7rem;
}
.dark  {
  --background: 220 50% 10%;
  --foreground: 220 5% 90%;
  --card: 220 50% 10%;
  --card-foreground: 220 5% 90%;
  --popover: 220 50% 5%;
  --popover-foreground: 220 5% 90%;
  --primary: 220 8.9% 46.1%;
  --primary-foreground: 0 0% 100%;
  --secondary: 220 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 182 30% 25%;
  --muted-foreground: 220 5% 60%;
  --accent: 182 30% 25%;
  --accent-foreground: 220 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 220 5% 90%;
  --border: 220 30% 26%;
  --input: 220 30% 26%;
  --ring: 220 8.9% 46.1%;
  --radius: 0.7rem;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
